{% extends "base_features.html" %}
{% load i18n staticfiles wger_extras %}

{#           #}
{# Opengraph #}
{#           #}
{% block opengraph %}
    {{ block.super }}
    <meta property="og:title" content="{% trans 'Features' %} - wger">

    {% with username=owner_user.username %}
        <meta property="og:description" content="{% blocktrans %}wger Workout Manager is a free, open source web application that manages your exercises and workouts. {% endblocktrans %}">
    {% endwith %}
{% endblock %}


{#         #}
{# Content #}
{#         #}
{% block content %}
<header>
        <div id= "divs" class="container div1">
            <div class="intro-text">
                <div class="intro-heading">{% trans "Welcome to wger" %}</div>
                    <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                                        <!-- Carousel Slides / Quotes -->
                                        <div class="carousel-inner text-center">
                                            <!-- Quote 1 -->
                                            <div class="item active row col-sm-8 col-sm-offset-2">
                                                <div class="slider__contents slider_text_color"><i class="slider__image fa fa-line-chart"></i>
                                                    <h2 class="slider__caption slider_text_color">{% trans "WEIGHT TRACKER" %}</h2>
                                                    <p class="slider__txt slider_text_color">
                                                        {% blocktrans trimmed %}
                                                            Keep track of your progress with the body weight chart. This makes
                                                            it easy to see if you are reaching your goals or need to adjust
                                                            something.
                                                        {% endblocktrans %}
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- Quote 2 -->
                                            <div class="item row col-sm-8 col-sm-offset-2">
                                                <div class="slider__contents slider_text_color"><i class="slider__image fa fa-calendar"></i>
                                                    <h2 class="slider__caption slider_text_color">{% trans "CALENDAR" %}</h2>
                                                    <p class="slider__txt slider_text_color">
                                                {% blocktrans trimmed %}
                                                    Get an overview of how and when you trained as well as how you
                                                    personally felt you performed. Access all your individual diary
                                                    entries with one click.
                                                {% endblocktrans %}
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- Quote 3 -->
                                            <div class="item row col-sm-8 col-sm-offset-2">
                                                <div class="slider__contents slider_text_color"><i class="slider__image fa fa-database"></i>
                                                    <h2 class="slider__caption slider_text_color">{% trans "EXERCISE DATABASE" %}</h2>
                                                    <p class="slider__txt slider_text_color">
                                                        {% blocktrans trimmed %}
                                                        The exercise database contains more than hundred exercises from
                                                        which you can choose when creating a workout. You can view them by
                                                        category and equipment used or muscles trained.
                                                        {% endblocktrans %}
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- Quote 4 -->
                                            <div class="item row col-sm-8 col-sm-offset-2">
                                                <div class="slider__contents slider_text_color"><i class="slider__image fa fa-address-book"></i>
                                                    <h2 class="slider__caption slider_text_color">{% trans "GYM MANAGEMENT" %}</h2>
                                                    <p class="slider__txt">
                                                        {% blocktrans trimmed %}
                                                            Use the application for your gym to manage its members, their
                                                            workouts and attendance. You can manage the members' contracts,
                                                            keep notes and upload any files you might need.
                                                        {% endblocktrans %}
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- Quote 5 -->
                                            <div class="item row col-sm-8 col-sm-offset-2">
                                                <div class="slider__contents slider_text_color"><i class="slider__image fa fa-file-code-o"></i>
                                                    <h2 class="slider__caption slider_text_color">{% trans "REST API" %}</h2>
                                                    <p class="slider__txt">
                                                        {% blocktrans trimmed %}
                                                            wger provides a REST API with full read and write access to all
                                                            data so you can integrate your own application and tools.
                                                        {% endblocktrans %}
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- Quote 6 -->
                                            <div class="item row col-sm-8 col-sm-offset-2">
                                                <div class="slider__contents slider_text_color"><i class="slider__image fa fa-code-fork"></i>
                                                    <h2 class="slider__caption slider_text_color">{% trans "100% FREE AND OPEN SOURCE" %}</h2>
                                                    <p class="slider__txt">
                                                        {% blocktrans trimmed %}100% Free
                                                        <br>and
                                                        <br>Open Source{% endblocktrans %}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Bottom Carousel Indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#quote-carousel" data-slide-to="0" class="active">
                                            </li>
                                            <li data-target="#quote-carousel" data-slide-to="1">
                                            <li data-target="#quote-carousel" data-slide-to="2">
                                            <li data-target="#quote-carousel" data-slide-to="3">
                                            <li data-target="#quote-carousel" data-slide-to="4">
                                            <li data-target="#quote-carousel" data-slide-to="5">
                                            </li>
                                        </ol>

                                        <!-- Carousel Buttons Next/Prev -->
                                        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                                        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% if allow_guest_users and not user.is_authenticated %}
                    <a href="{% url 'core:user:demo-entries' %}" class="page-scroll button-try" rel="nofollow" style="margin-top: 1em;">
                        {% trans "Try it now" %}
                    </a>
                {% endif %}

                {% if not user.is_authenticated or user.userprofile.is_temporary %}
                    {% if allow_registration %}
                        <a href="{% url 'core:user:registration' %}" class="page-scroll button-register" style="margin-top: 1em;">
                            {% trans "Register" %}
                        </a>
                    {% endif %}

                    <a href="{% url 'core:user:login' %}" class="page-scroll button-login" style="margin-top: 1em;">
                        {% trans "Login" %}
                    </a>
                {% endif %}
            <div class="mouse">
                <span></span>
            </div>
        </div>
    </header>


<header>
<div id= "divs2" class="container div2">
<section id="services">
    <div class="container">
            <div class="row">
                <h1 class="title">Your  advantages</h1>
                <hr>
                <div class="col-xs-8 col-xs-offset-2 ftcolor">
                    <p class="lead text-center">
                        wger Workout Manager is a free,
                        open source web application that manages your exercises,
                        workouts and nutrition.</p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <article class="col-xs-4">
                    <div class="cards"><span class="glyphicon glyphicon-user icon"></span>
                        <hr class="divider">
                        <h2 class="title ">Workouts</h2>
                        <div class="info">
                            <hr class="divider">
                            <p class="lead">
                                {% blocktrans trimmed %}
                                    You can create and manage flexible workout routines for any goals you
                                    have. Select exactly which exercises you'll do and how many repetitions,
                                    time or distance you want to do them. You can also combine different
                                    workouts into a schedule.
                                {% endblocktrans %}
                            </p>
                        </div>
                    </div>
                </article>
                <article class="col-xs-4">
                    <div class="cards"><span class="glyphicon glyphicon-cutlery icon"></span>
                        <hr class="divider">
                        <h2 class="title">Nutrition</h2>
                        <div class="info">
                            <hr class="divider">
                            <p class="lead">
                                {% blocktrans trimmed %}
                                    Create your personal diet plan by creating as many meals with as many
                                    different ingredients as you need. The application will calculate the
                                    nutritional values (total energy, protein, carbohydrates, and so on)
                                    about the whole plan as well as the indivual meals.
                                {% endblocktrans %}
                            </p>
                        </div>
                    </div>
                </article>
                <article class="col-xs-4">
                    <div class="cards"><span class="glyphicon glyphicon-book icon"></span>
                        <hr class="divider">
                        <h2 class="title">Diary</h2>
                        <div class="info">
                            <hr class="divider">
                            <p class="lead">
                                {% blocktrans trimmed %}
                                Enter the weights and repetitions you did for each exercise to generate
                                diagrams that let you see at a glance how well you are doing. The raw
                                numbers are of course still accessible.
                                {% endblocktrans %}
                                {% trans "You can also enter notes and a general impression (great, neutral, etc.)" %}
                            </p>
                        </div>
                    </div>
                </article>
            </div>
    </div>
</section>
</div>
</header>
{% endblock %}
